<section class="ftco-section ftco-wrap-about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex">
                <div class="img img-1 mr-md-2" style="background-image: url(../assets/images/about.jpg);"></div>
                <div class="img img-2 ml-md-2" style="background-image: url(../assets/images/about-1.jpg);"></div>
            </div>
            <div class="col-md-5 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
      <div class="heading-section mb-4 my-5 my-md-0">
          <span class="subheading">About</span>
        <h2 class="mb-4">Feliciano Restaurant</h2>
      </div>
      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <p class="time">
                    <span>Mon - Fri <strong>8 AM - 11 PM</strong></span>
                    <span><a href="#">+ 1-978-123-4567</a></span>
                </p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-counter img ftco-no-pt" id="section-counter">
<div class="container">
    <div class="row d-md-flex">
        <div class="col-md-9">
            <div class="row d-md-flex align-items-center">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="18">0</strong>
                <span>Years of Experienced</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Menus/Dish</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="50">0</strong>
                <span>Staffs</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="15000">0</strong>
                <span>Happy Customers</span>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col-md-3 text-center text-md-left">
      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
  </div>
</div>
</div>
</section>
