<div class="py-1 bg-black top">
  <div class="container">
      <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
          <div class="col-lg-12 d-block">
              <div class="row d-flex">
                  <div class="col-md pr-4 d-flex topper align-items-center">
                      <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                      <span class="text">+ 1235 2355 98</span>
                  </div>
                  <div class="col-md pr-4 d-flex topper align-items-center">
                      <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                      <span class="text">youremail@email.com</span>
                  </div>
                  <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">
                      <p class="mb-0 register-link"><span>Open hours:</span> <span>Monday - Sunday</span> <span>8:00AM - 9:00PM</span></p>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>

<app-navigation></app-navigation>


<section class="home-slider owl-carousel js-fullheight">
    <div class="slider-item js-fullheight" style="background-image: url(../assets/images/bg_1.jpg);">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 col-sm-12 text-center ftco-animate">
              <span class="subheading">Feliciano</span>
            <h1 class="mb-4">Best Restaurant</h1>
          </div>

        </div>
      </div>
    </div>

    
   
    <div class="slider-item js-fullheight" style="background-image: url(../assets/images/bg_2.jpg);">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 col-sm-12 text-center ftco-animate">
              <span class="subheading">Feliciano</span>
            <h1 class="mb-4">Nutritious &amp; Tasty</h1>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item js-fullheight" style="background-image: url(../assets/images/bg_3.jpg);">
        <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 col-sm-12 text-center ftco-animate">
              <span class="subheading">Feliciano</span>
            <h1 class="mb-4">Delicious Specialties</h1>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="featured">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="featured-menus ftco-animate">
                      <div class="menu-img img" style="background-image: url(../assets/images/breakfast-1.jpg);"></div>
                      <div class="text text-center">
                      <h3>Grilled Beef with potatoes</h3>
                          <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                      </div>
                    </div>
                        </div>
                        <div class="col-md-3">
                            <div class="featured-menus ftco-animate">
                      <div class="menu-img img" style="background-image: url(../assets/images/breakfast-2.jpg);"></div>
                      <div class="text text-center">
                      <h3>Grilled Beef with potatoes</h3>
                          <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                      </div>
                    </div>
                        </div>
                        <div class="col-md-3">
                            <div class="featured-menus ftco-animate">
                      <div class="menu-img img" style="background-image: url(../assets/images/breakfast-3.jpg);"></div>
                      <div class="text text-center">
                      <h3>Grilled Beef with potatoes</h3>
                          <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                      </div>
                    </div>
                        </div>
                        <div class="col-md-3">
                            <div class="featured-menus ftco-animate">
                      <div class="menu-img img" style="background-image: url(../assets/images/breakfast-4.jpg);"></div>
                      <div class="text text-center">
                      <h3>Grilled Beef with potatoes</h3>
                          <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
                      </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
